.App {
  text-align: left;
}

div.ContainerApp {
  width: 90%;
  background-color: #efefef;
  margin: 10px auto;
  padding: 20px;
  border-radius: 80px;
}

body {
  font-family: sans-serif;
  background: white;
  margin: 10px auto;
}

.App-link {
  color: #61dafb;
}
